html {
  background: black;
}

body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  color: black;
  cursor: default;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.page {
  height: 99vh;
}

::-webkit-scrollbar {
  width: 0px;
}

.background {
  min-height: 100vh;
  background: #000000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gradient-bg {
  background: radial-gradient(50% 50% at 50% 50%, #2C2C2C 0%, #000000 100%);
}

.zgen {
  font-size: 148px;
  font-weight: 800;
  line-height: 80%;
  margin: 0px;
  color: white;
}

.kibernetika {
  font-size: 29px;
  font-weight: 700;
  margin: 0 0 0 6px;
  color: white;
}

.shine {
  transition: 0.5s;
}

.shine:hover {
  text-shadow: 0px 0 12px #fff;
}

.zawiasa {
  font-size: 188px;
  font-weight: 900;

  letter-spacing: -0.1em;
  height: 200px;
}

.team-grid-container {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
  grid-template-rows: auto auto auto;
  grid-gap: 15px;
  text-align: center
}

.team-grid-head {
  grid-column: 1 / 5;
  text-align: left;
  padding-left: 10px;
  color: white;
}

.team-image {
  width: 150px;
  height: auto;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.team-image:hover, .contact-input:focus {
  transform: scale(1.05);
}

.team-image:nth-child(4) {
  text-shadow: 0px 0 12px #fff;
}

.team-name {
  font-size: 36px;
  font-weight: 800;
  color: white;
}

.team-container {
  position: relative;
}

.modal {
  position: absolute;
  width: 750px;
  height: 420px;
  background: white;

}

.modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.show {
  -webkit-animation: fadein 0.4s;
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

.close { display: none; }

.modal-name {
  font-size: 48px;
  text-align: center;
  margin: 30px 0;
}

.infos {
  width: 80%;
  margin: auto;
}

.infos > li {
  font-size: 28px;
  margin: 15px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto
}

.ourstory {
  font-size: 160px;
  font-weight: 900;

  color: white;
  letter-spacing: -10px;;
  height: 180px;
}

.story-text1, .story-text2 {
  color: white;
  font-weight: 900;
  font-size: 31px;
  width: 830px;
  margin: 20px 0 0 0;
  padding-left: 20px;
  text-align: justify;
}

.story-text2 {
  font-weight: 500;
  margin: 10px 0 20px 0;
}

.projects-grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    'sm1 md1 lg lg md3 sm3'
    'sm1_1 md1 lg lg md3 sm3_1'
    'sm2 md2 lg lg md4 sm4'
    'sm2_1 md2 lg lg md4 sm4_1';
  grid-gap: 15px;
}

.flexbox-projects {
  display: flex;
  flex-direction: column;
  width: 885px;
}

.expertise {
  font-size: 184px;
  font-weight: 900;
  color: white;
  letter-spacing: -0.05em;
  height: 190px;

  position: relative;
  left: -11px;
}

.small {
  width: 135px;
  height: 60px;
  font-size: 14px;
  font-weight: 700;
}

.medium {
  width: 135px;
  height: 135px;
  font-size: 16px;
  font-weight: 800;
}

.large {
  width: 285px;
  height: 285px;
  font-size: 36px;
  font-weight: 800;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  color: #000;
  transition: 0.3s;
}

.small, .medium, .large {
  transition: all .2s ease-in-out;
}

.small:hover, .medium:hover, .large:hover, .contact-large-input:focus, .partner-logo:hover {
  transform: scale(1.025);
}

.lg { grid-area: lg }

.sm1 { grid-area: sm1 }
.sm2 { grid-area: sm2 }
.sm3 { grid-area: sm3 }
.sm4 { grid-area: sm4 }

.sm1_1 { grid-area: sm1_1 }
.sm2_1 { grid-area: sm2_1 }
.sm3_1 { grid-area: sm3_1 }
.sm4_1 { grid-area: sm4_1 }

.md1 { grid-area: md1 }
.md2 { grid-area: md2 }
.md3 { grid-area: md3 }
.md4 { grid-area: md4 }

.partners {
  font-size: 160px;
  font-weight: 900;
  letter-spacing: -0.05em;
  height: 170px;
  color: white;
}

.flexbox-partners {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logos {
  display: inline-block;
  padding-left: 25px;
}

.partner-logo {
  margin-right: 15px;
  cursor: pointer;
}

.contact {
  color: white;
  font-size: 180px;
  font-weight: 900;
  height: 175px;
  letter-spacing: -0.075em;

  position: relative;
  left: -8px;
}

.contact-grid-container {
  display: grid;
  grid-template-columns: 375px 375px;
  grid-template-rows: auto auto auto auto;
  grid-gap: 15px;
  text-align: center
}

.contact-grid-double {
  grid-column: 1 / 3;
}

.contact-input, .contact-large-input {
  background: #fff;
  width: auto !important;
  font: 16px Raleway;
  border: none;

  padding: 12px;

  transition: all .2s ease-in-out;
  outline: none;
  resize: none;
}

.contact-input {
  height: 30px;
}

.contact-large-input {
  height: 120px !important;
}


.contact-submit {
  font: 900 22px Raleway;
  background: #fff;
  text-align: center;

  width: auto;
  height: 54px;
  padding: 12px;

  border: none;
  outline: none;
}

.contact-submit:hover {
  background: #EFEFEF
}

.ease-out {
  transition: all .05s ease-out-in;
}

.ease-out:active {
  transform: scale(0.95);
}

.sent-message {
  font: 16px Raleway;
  margin: 0px;

  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.missing-form {
  color: #CD0000;
  font: 16px Raleway;
  margin: 0px;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2%;
}
